/*icons*/
[class|="depict"],
[class*=" depict-"]{
	background:url(../img/sprite-icons.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
/*icons end*/

/*social icons*/
[class|="soc-depict"],
[class*=" soc-depict-"] {
	background:url(../img/sprite-social.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
/*social icons end*/

/*stars*/
[class|="depict-star"],
.icon-star,
[class*=" depict-star-"]{
	background:url(../img/sprite-rating.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
/*stars end*/

@media ( -webkit-min-device-pixel-ratio : 1.5 ),
( min-resolution : 144dpi ){
	.iii {
		background-size:38px 38px;
	}
}