/*  
	--- WIDGETS CONTAINS --- 
	
	0. ui-lightness
	1. Fancybox
	2. bx-Slider
	3. UI Multiselect
	4. Jquery Checkbox (check/radio)
	5. Datepiker
	Slick slider
	
*/

/*--- 0. ui-lightness ---*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*--- 0. ui-lightness end ---*/

/*--- 1. Fancybox ---*/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #36657f;
	color: #444;
	text-shadow: none;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
	width: auto;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../img/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../img/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/*--- 1. Fancybox End ---*/


/*--- 2. bxSlider ---*/
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/bx-slider/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	z-index: 100;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../img/bx-slider/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../img/bx-slider/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/bx-slider/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/bx-slider/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/*--- 2. bxSlider end ---*/

/*--- 3. UI Multiselect ---*/
/* jquery multiselect core */
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px; }
 
.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }
 
.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }
 
/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
/* jquery multiselect core end */
 
/* jquery multiselect style */
button.cselect {
	display:block;
	position:relative;
	zoom:1;
	padding:0;
	margin:0;
	line-height: 16px;
	border:none;
	background:none;
}
button.cselect .select-inner {
	display:block;
	background-color:#fff;
	padding:6px 28px 6px 12px;
	position:relative;
	font-size: 12px;
	line-height: 16px;
	color: #808080;
	font-weight: 400;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
}
button.cselect .ui-icon {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:30px;
	display:block;
	background: none;
}
button.cselect .ui-icon .arrow-select{
	position: absolute;
	right: 9px;
	top: 12px;

	height: 0;
	width: 0;
	border: solid transparent;
	border-color: rgba(128, 128, 128, 0);
	border-top-color: #808080;
	border-width: 5px;
}
/*delete*/
button.cselect .ui-icon .arrow-select:after{
	content: " ";
	position: absolute;
	top: -7px;
	left: 0;
	height: 0;
	width: 0;
	border: solid transparent;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 4px;
	margin-left: -4px;
}
/*delete end*/
button.cselect .select-text {
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
/* multiselect button end */

/* multiselect menu */
div.cselect.ui-multiselect-menu {
	padding:2px 0;
	margin:0;
}
div.cselect .ui-multiselect-checkboxes {
	padding:0;
	margin:0;
	list-style-type:none;
	height: auto !important;
	max-height:200px;
	overflow:auto;
	background-color:#fff;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
}
div.cselect .ui-multiselect-checkboxes li {padding:0;}
div.cselect .ui-multiselect-checkboxes label input {
	position:absolute;
	left:-9999px;
}
div.cselect .ui-multiselect-checkboxes label {
	display:block;
	cursor:pointer;
	font-size: 12px;
	line-height: 16px;
	color: #808080;
	font-weight: 400;
	padding:6px 12px 6px;
}
div.cselect .ui-multiselect-checkboxes label:hover{
	background-color: #f0f0f0;
}
div.cselect .ui-multiselect-checkboxes label.ui-state-active {
	background-color:#f7f7f7;
}
/* multiselect menu end */
/*--- 3. UI Multiselect End ---*/

/*--- 4. Jquery Checkbox (check/radio) ---*/
/* checkbox */
.jquery-checkbox{
	cursor: pointer;
	margin: 5px 5px 0 0;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
}
.jquery-checkbox .mark {display: inline;}

.jquery-checkbox img {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url(../img/sprite-forms.png) 0 0 no-repeat;
}
.jquery-checkbox img,
.jquery-checkbox-disabled img,
.jquery-checkbox-checked .jquery-checkbox-disabled img{background-position: 0 0;}

.jquery-checkbox-checked img,
.jquery-checkbox-checked .jquery-checkbox-hover img {background-position: 0 -34px; }
/* checkbox end */

/* radio */
.jquery-radiobox {
	cursor: pointer;
	margin: 5px 5px 0 0;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
}
.jquery-radiobox .mark {
	display: inline;
}

.jquery-radiobox img {
	vertical-align: top;
	width: 14px;
	height: 14px;
	background: url(../img/sprite-forms.png) 0 0 no-repeat;
}

.jquery-radiobox img,
.jquery-radiobox-disabled img,
.jquery-radiobox-checked .jquery-radiobox-disabled img{background-position: 0 0;}

.jquery-radiobox-checked img,
.jquery-radiobox-checked .jquery-radiobox-hover img,
.jquery-radiobox-checked img{background-position: 0 -34px;}
/* radio end */
/*--- 4. Jquery Checkbox (check/radio) ---*/

/*--- 5. Datepiker ---*/
/* jQuery UI - v1.10.4 - 2014-04-02
* http://jqueryui.com
* jquery.ui.datepicker.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/*style inputs*/
.datepickers{ margin-right: -20px; padding: 0 0 10px; }
.datepickers:before,
.datepickers:after{ content: ""; display: table; }
.datepickers:after{ clear: both; }
.datepickers{ zoom: 1; }
.datepickers .datepicker{
	float: left;
	padding-right: 20px;
	position: relative;
	width: 50%;
}
.datepickers .datepicker input{
	padding-right: 26px;
}
.datepickers .datepicker [class*="icon-"]{
	position: absolute;
	top: 50%;
	right: 26px;
	cursor: pointer;
	background-color: #ccc;
	width: 16px;
	height: 16px;
	margin-top: -8px;
}
/*style inputs end*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker{
	display: none;
	position: relative;
	padding: 16px 9px 9px;
	background: #fff;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
}
.ui-datepicker .ui-datepicker-header{
	position: relative;
	height: 31px;
	background: #fff;
	overflow: hidden;
	margin: 0 6px 12px;
	text-transform: uppercase;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 0;
	width: 30px;
	height: 31px;
	cursor: pointer !important;
}
.ui-datepicker .ui-datepicker-prev {
	left: 0;
}
.ui-datepicker .ui-datepicker-next {
	right: 0;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -11px;
	margin-top: -11px;
	height: 20px;
	width: 20px;
	/*background: #ccc url(../img/sprite-icons.png) no-repeat -10px -126px;*/
	opacity: 0.7;
	border: 1px solid #888;
	border-radius: 3px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	backface-visibility: hidden;
}
.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before,
.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 3px;
	width: 10px;
	background: #808080;
	border-radius: 2px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	backface-visibility: hidden;
}
.ui-datepicker .ui-datepicker-prev span:after,
.ui-datepicker .ui-datepicker-next span:before{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:after{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.ui-datepicker .ui-datepicker-prev span:before{
	top: 5px;
	left: 3px;
}
.ui-datepicker .ui-datepicker-prev span:after{
	top: 10px;
	left: 3px;
}
.ui-datepicker .ui-datepicker-next span:before{
	top: 5px;
	left: 5px;
}
.ui-datepicker .ui-datepicker-next span:after{
	top: 10px;
	left: 5px;
}
.ui-datepicker .ui-state-hover span{
	background: #888;
}
.ui-datepicker .ui-state-hover span:before,
.ui-datepicker .ui-state-hover span:after{
	background: #f5f5f5;
}
.ui-datepicker .ui-datepicker-title {
	font-size: 15px;
	line-height: 31px;
	color: #262626;
	text-align: center;
	background: #f5f5f5;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	border: 0;
	font-size: 14px;
	line-height: 18px;
	color: #4d4d4d;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	color: #fff8f0;
	text-align: center;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .3em;
	text-decoration: none;
	font-weight: 400;
	color: #303030;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	backface-visibility: hidden;
	border: 1px solid transparent;
	border-radius: 3px;
}
.ui-datepicker td.ui-datepicker-current-day span,
.ui-datepicker td.ui-datepicker-current-day a {
	border: 1px solid #1d7ab2;
	color: #1d7ab2;
	font-weight: 600;
}
.ui-datepicker td.ui-datepicker-today span,
.ui-datepicker td.ui-datepicker-today a {
	border: 1px solid #cdcdcd;
	font-weight: 600;
	background: #f5f5f5;
}
.ui-datepicker .ui-state-disabled span,
.ui-datepicker .ui-state-disabled a {
	color: #c8c8c8;
}
.ui-datepicker td a.ui-state-hover {
	border: 1px solid #fa3676;
	color: #fa3676;
	border-radius: 3px;
	font-weight: 600;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
/*--- 5. Datepiker end ---*/

/*===========================================
 Slick slider
 ============================================*/
/*slick.css*/
/* Slider */
.slick-slider{
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus{
	outline: none;
}
.slick-list.dragging{
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
}
.slick-track:after{
	clear: both;
}
.slick-loading .slick-track{
	visibility: hidden;
}
.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide{
	float: right;
}
.slick-slide img{
	display: block;
}
.slick-slide.slick-loading img{
	display: none;
}
.slick-slide.dragging img{
	pointer-events: none;
}
.slick-initialized .slick-slide{
	display: block;
}
.slick-loading .slick-slide{
	visibility: hidden;
}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
	display: none;
}
/*slick.css end*/
/*slick-theme.css*/

/* Slider */
.slick-loading .slick-list{
	background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/slick-font/slick.eot');
	src: url('../fonts/slick-font/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick-font/slick.woff') format('woff'), url('../fonts/slick-font/slick.ttf') format('truetype'), url('../fonts/slick-font/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-top: -10px \9; /*lte IE 8*/
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{
	opacity: .25;
}
.slick-prev:before,
.slick-next:before{
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev{
	left: -25px;
}
[dir='rtl'] .slick-prev{
	right: -25px;
	left: auto;
}
.slick-prev:before{
	content: '←';
}
[dir='rtl'] .slick-prev:before{
	content: '←';
}
.slick-next{
	right: -25px;
}
[dir='rtl'] .slick-next{
	right: auto;
	left: -25px;
}
.slick-next:before{
	content: '→';
}
[dir='rtl'] .slick-next:before{
	content: '→';
}
/* Dots */
.slick-slider{
	margin-bottom: 30px;
}
.slick-dots{
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li,
.user-content .slick-dots li{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.user-content .slick-dots li:before{
	content: none;
}
.slick-dots li button{
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
	opacity: 1;
}
.slick-dots li button:before{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
	opacity: .75;
	color: black;
}
/*slick-theme.css end*/
/*===========================================
 Slick slider end
 ============================================*/